h3{
    margin: 1rem;
}

.heading{
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}
.content{
    font-size: 1.3rem;
    margin-bottom: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
}