#menu{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
    align-items: center;
}

#image{
    width: 20rem;
    height: 20rem;
}

.box{
    width: 5rem;
    height: 2rem;
    border: 1px solid black;
}