
.BriefOverview{

}
.SubGrid1{
    width: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color: green;

    display: grid;
    grid-template-columns: 30% 70%;
}
.SubGridImgs{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .SubGridItem1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.SubGrid2{
    width: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color: aquamarine;

    display: grid;
    grid-template-columns: 70% 30%;
}
